
# this stuff was found by looking on the read the docs website
# at the builds under the raw log files, reading the errors
numpydoc
networkx
numpy
sympy
scipy
numba
dynesty
six
tqdm
psutil
seaborn
matplotlib
corner
cycler
IPython
sphinx_rtd_theme
